/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

ul{
    list-style:none;
}

.active{
    color:rgb(255, 255, 255) ;
    text-decoration: underline;
    font-weight: bold;
}

body, html{
    background-color: rgb(37, 34, 34);
}

/* Navbar */
.navbar{
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    flex-wrap: wrap;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* text-transform: capitalize; */
}
nav ul li a:hover{
    color: rgb(124, 56, 187);
    transition: .4s;
}


header{
    width: 105vw;
    height: 100vh;
    background-image: url(Images/bg.jpg);
    background-position: center;
    background-size: cover ;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background-color: rgb(124, 56, 187);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: rgb(124, 56, 187);
    border-radius: 30px;
    color: rgb(255, 255, 255);
}

/* Events */

section{
    width: 80%;
    margin: 80px auto;
   
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(157, 129, 184);
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center ;
    flex-wrap: wrap;
}

.events .row{
    margin-top: 50px;
    
}

h4{
    font-size: 3vmin;
    color: rgb(220, 192, 245);
    margin: 20px auto;
}

p{
    color: rgb(222, 221, 223);
    padding: 0px 40px;
}

.events .ctn{
    margin-top: 30px;
    margin-bottom: 10px;
}

.row .col img{
    width: 50%;
}

.about{
    width: 100%;
    height: 80vh;
    background-color: rgb(61, 59, 59);
}

/* About */

/* .about{
    background-color: rgb(59, 59, 59);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.about h1{
    display: flex;
    font-size: 45px;
    color: rgb(157, 129, 184);
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about p{
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    max-width: 450px;
    justify-content: center;
 
}

.ab img{
    width: 520px;
    height: 500px;
} */

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(68, 64, 64);
    border-radius: 50px;
}

.home-about .content{
    flex: 1 1 41rem;
    padding: 3rem;
}

.home-about .content h3{
    text-align: center;
    font-size: 3rem;
    color: rgb(220, 192, 245);
}

.home-about .content p{
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: whitesmoke;
}

/* Grid Display Start*/
.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
    
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 4;
  }
  /* Anything udner 1024px */
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }
  }

/* End of Grid Display */
/* Mobile */
@media only screen and (max-width: 850px;){
    .navbar{
        padding: 0;
    }
    .img{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: black;
    }
    .nav-linksli{
        margin: 30px auto;
    }
}

/* social medias */
.socials a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 35px;
}
/* .socials a:hover{
    transform: scale(1.1);
    background: #d821d8;
    transition: .4s;
} */

.fa-facebook{
    font-size: 37px;
}

.fa-instagram{
    font-size: 37px;
}

.fa-envelope{
    font-size: 37px;
}